USE [GRADTEST]
GO
/****** Object:  Table [dbo].[AgeGroup]    Script Date: 12/24/2025 3:58:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AgeGroup](
	[AgeGroupId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[MinAge] [int] NULL,
	[MaxAge] [int] NULL,
 CONSTRAINT [PK_AgeGroup] PRIMARY KEY CLUSTERED 
(
	[AgeGroupId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_AgeGroup_Name] UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 12/24/2025 3:58:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[CategoryId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](150) NOT NULL,
	[Description] [nvarchar](400) NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Category_Name] UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ContentAsset]    Script Date: 12/24/2025 3:58:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ContentAsset](
	[AssetId] [int] IDENTITY(1,1) NOT NULL,
	[ContentId] [int] NOT NULL,
	[AssetType] [nvarchar](20) NOT NULL,
	[Url] [nvarchar](1000) NOT NULL,
	[Caption] [nvarchar](300) NULL,
	[DurationSec] [int] NULL,
	[SortOrder] [int] NOT NULL,
	[ThumbnailUrl] [nvarchar](1000) NULL,
 CONSTRAINT [PK_ContentAsset] PRIMARY KEY CLUSTERED 
(
	[AssetId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ContentItem]    Script Date: 12/24/2025 3:58:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ContentItem](
	[ContentId] [int] IDENTITY(1,1) NOT NULL,
	[ObjectId] [int] NOT NULL,
	[LanguageId] [int] NOT NULL,
	[ContentType] [nvarchar](20) NOT NULL,
	[VersionNo] [int] NOT NULL,
	[Status] [nvarchar](30) NOT NULL,
	[Priority] [int] NOT NULL,
	[IsFallback] [bit] NOT NULL,
	[PublishFrom] [datetime2](0) NULL,
	[PublishTo] [datetime2](0) NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
	[UpdatedAt] [datetime2](0) NOT NULL,
 CONSTRAINT [PK_ContentItem] PRIMARY KEY CLUSTERED 
(
	[ContentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_ContentItem_ObjectLangVersion] UNIQUE NONCLUSTERED 
(
	[ObjectId] ASC,
	[LanguageId] ASC,
	[VersionNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ContentItemAgeGroup]    Script Date: 12/24/2025 3:58:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ContentItemAgeGroup](
	[ContentId] [int] NOT NULL,
	[AgeGroupId] [int] NOT NULL,
 CONSTRAINT [PK_ContentItemAgeGroup] PRIMARY KEY CLUSTERED 
(
	[ContentId] ASC,
	[AgeGroupId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ContentItemEducationLevel]    Script Date: 12/24/2025 3:58:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ContentItemEducationLevel](
	[ContentId] [int] NOT NULL,
	[LevelId] [int] NOT NULL,
 CONSTRAINT [PK_ContentItemEducationLevel] PRIMARY KEY CLUSTERED 
(
	[ContentId] ASC,
	[LevelId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ContentText]    Script Date: 12/24/2025 3:58:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ContentText](
	[ContentId] [int] NOT NULL,
	[Title] [nvarchar](250) NOT NULL,
	[Body] [nvarchar](max) NOT NULL,
	[ReadingTimeSec] [int] NULL,
 CONSTRAINT [PK_ContentText] PRIMARY KEY CLUSTERED 
(
	[ContentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EducationLevel]    Script Date: 12/24/2025 3:58:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EducationLevel](
	[LevelId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](150) NOT NULL,
	[RankOrder] [int] NULL,
 CONSTRAINT [PK_EducationLevel] PRIMARY KEY CLUSTERED 
(
	[LevelId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_EducationLevel_Name] UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Era]    Script Date: 12/24/2025 3:58:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Era](
	[EraId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](150) NOT NULL,
	[StartYear] [int] NULL,
	[EndYear] [int] NULL,
 CONSTRAINT [PK_Era] PRIMARY KEY CLUSTERED 
(
	[EraId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Era_Name] UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InteractionLog]    Script Date: 12/24/2025 3:58:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InteractionLog](
	[InteractionId] [bigint] IDENTITY(1,1) NOT NULL,
	[SessionId] [uniqueidentifier] NOT NULL,
	[UserId] [int] NULL,
	[ObjectId] [int] NOT NULL,
	[IdentifierId] [int] NOT NULL,
	[ZoneId] [int] NULL,
	[InteractionType] [nvarchar](30) NOT NULL,
	[DeviceType] [nvarchar](30) NOT NULL,
	[OccurredAt] [datetime2](0) NOT NULL,
	[DurationSec] [int] NULL,
	[ExtraMetadata] [nvarchar](max) NULL,
 CONSTRAINT [PK_InteractionLog] PRIMARY KEY CLUSTERED 
(
	[InteractionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Language]    Script Date: 12/24/2025 3:58:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Language](
	[LanguageId] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](10) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_Language] PRIMARY KEY CLUSTERED 
(
	[LanguageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Language_Code] UNIQUE NONCLUSTERED 
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MuseumZone]    Script Date: 12/24/2025 3:58:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MuseumZone](
	[ZoneId] [int] IDENTITY(1,1) NOT NULL,
	[ZoneName] [nvarchar](150) NOT NULL,
	[Floor] [nvarchar](50) NULL,
	[Description] [nvarchar](300) NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_MuseumZone] PRIMARY KEY CLUSTERED 
(
	[ZoneId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Object]    Script Date: 12/24/2025 3:58:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Object](
	[ObjectId] [int] IDENTITY(1,1) NOT NULL,
	[DefaultTitle] [nvarchar](200) NOT NULL,
	[DefaultSummary] [nvarchar](800) NULL,
	[CategoryId] [int] NULL,
	[EraId] [int] NULL,
	[Status] [nvarchar](30) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
	[UpdatedAt] [datetime2](0) NOT NULL,
	[SearchKeywords] [nvarchar](500) NULL,
 CONSTRAINT [PK_Object] PRIMARY KEY CLUSTERED 
(
	[ObjectId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ObjectIdentifier]    Script Date: 12/24/2025 3:58:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ObjectIdentifier](
	[IdentifierId] [int] IDENTITY(1,1) NOT NULL,
	[ObjectId] [int] NOT NULL,
	[IdentifierType] [nvarchar](30) NOT NULL,
	[IdentifierValue] [nvarchar](200) NOT NULL,
	[IsPrimary] [bit] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
	[ExpiresAt] [datetime2](0) NULL,
	[IsRevoked] [bit] NULL,
	[LastUsedAt] [datetime2](0) NULL,
 CONSTRAINT [PK_ObjectIdentifier] PRIMARY KEY CLUSTERED 
(
	[IdentifierId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_ObjectIdentifier_Value] UNIQUE NONCLUSTERED 
(
	[IdentifierValue] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ObjectLocation]    Script Date: 12/24/2025 3:58:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ObjectLocation](
	[LocationId] [int] IDENTITY(1,1) NOT NULL,
	[ObjectId] [int] NOT NULL,
	[ZoneId] [int] NOT NULL,
	[FromDate] [date] NULL,
	[ToDate] [date] NULL,
 CONSTRAINT [PK_ObjectLocation] PRIMARY KEY CLUSTERED 
(
	[LocationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ObjectTag]    Script Date: 12/24/2025 3:58:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ObjectTag](
	[ObjectId] [int] NOT NULL,
	[TagId] [int] NOT NULL,
	[AddedAt] [datetime2](0) NOT NULL,
 CONSTRAINT [PK_ObjectTag] PRIMARY KEY CLUSTERED 
(
	[ObjectId] ASC,
	[TagId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 12/24/2025 3:58:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RoleId] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](80) NOT NULL,
	[Description] [nvarchar](250) NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Roles_RoleName] UNIQUE NONCLUSTERED 
(
	[RoleName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SearchRequest]    Script Date: 12/24/2025 3:58:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SearchRequest](
	[SearchRequestId] [bigint] IDENTITY(1,1) NOT NULL,
	[SessionId] [uniqueidentifier] NOT NULL,
	[UserId] [int] NULL,
	[SearchType] [nvarchar](10) NOT NULL,
	[OriginalInput] [nvarchar](400) NOT NULL,
	[DetectedLanguageId] [int] NOT NULL,
	[ConfidenceScore] [decimal](5, 4) NULL,
	[RequestedAt] [datetime2](0) NOT NULL,
	[DeviceType] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK_SearchRequest] PRIMARY KEY CLUSTERED 
(
	[SearchRequestId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SearchResult]    Script Date: 12/24/2025 3:58:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SearchResult](
	[SearchResultId] [bigint] IDENTITY(1,1) NOT NULL,
	[SearchRequestId] [bigint] NOT NULL,
	[ResultType] [nvarchar](10) NOT NULL,
	[ObjectId] [int] NULL,
	[ContentId] [int] NULL,
	[TagId] [int] NULL,
	[RankOrder] [int] NOT NULL,
	[MatchScore] [decimal](6, 4) NOT NULL,
 CONSTRAINT [PK_SearchResult] PRIMARY KEY CLUSTERED 
(
	[SearchResultId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Session]    Script Date: 12/24/2025 3:58:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Session](
	[SessionId] [uniqueidentifier] NOT NULL,
	[StartedAt] [datetime2](0) NOT NULL,
	[EndedAt] [datetime2](0) NULL,
	[DeviceType] [nvarchar](30) NOT NULL,
	[AppVersion] [nvarchar](50) NULL,
	[LanguageId] [int] NULL,
	[AgeGroupId] [int] NULL,
	[LevelId] [int] NULL,
 CONSTRAINT [PK_Session] PRIMARY KEY CLUSTERED 
(
	[SessionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tag]    Script Date: 12/24/2025 3:58:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tag](
	[TagId] [int] IDENTITY(1,1) NOT NULL,
	[TagType] [nvarchar](40) NOT NULL,
	[TagValue] [nvarchar](200) NOT NULL,
	[Synonyms] [nvarchar](max) NULL,
	[IsSearchable] [bit] NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_Tag] PRIMARY KEY CLUSTERED 
(
	[TagId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Tag_TypeValue] UNIQUE NONCLUSTERED 
(
	[TagType] ASC,
	[TagValue] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserProfile]    Script Date: 12/24/2025 3:58:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserProfile](
	[UserId] [int] NOT NULL,
	[AgeGroupId] [int] NULL,
	[LevelId] [int] NULL,
	[PreferredLanguageId] [int] NULL,
	[Interests] [nvarchar](max) NULL,
	[AccessibilityFlags] [nvarchar](max) NULL,
 CONSTRAINT [PK_UserProfile] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserRole]    Script Date: 12/24/2025 3:58:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRole](
	[UserId] [int] NOT NULL,
	[RoleId] [int] NOT NULL,
	[AssignedAt] [datetime2](0) NOT NULL,
 CONSTRAINT [PK_UserRole] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 12/24/2025 3:58:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](256) NULL,
	[DisplayName] [nvarchar](150) NOT NULL,
	[Phone] [nvarchar](30) NULL,
	[PasswordHash] [nvarchar](300) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
	[UpdatedAt] [datetime2](0) NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VoiceInput]    Script Date: 12/24/2025 3:58:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VoiceInput](
	[VoiceInputId] [bigint] IDENTITY(1,1) NOT NULL,
	[SearchRequestId] [bigint] NOT NULL,
	[AudioDurationSec] [int] NULL,
	[AudioFormat] [nvarchar](20) NULL,
	[SpeechEngine] [nvarchar](40) NULL,
	[TranscriptText] [nvarchar](400) NOT NULL,
	[ConfidenceScore] [decimal](5, 4) NULL,
 CONSTRAINT [PK_VoiceInput] PRIMARY KEY CLUSTERED 
(
	[VoiceInputId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_VoiceInput_SearchRequest] UNIQUE NONCLUSTERED 
(
	[SearchRequestId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ContentAsset] ADD  CONSTRAINT [DF_ContentAsset_SortOrder]  DEFAULT ((1)) FOR [SortOrder]
GO
ALTER TABLE [dbo].[ContentItem] ADD  CONSTRAINT [DF_ContentItem_VersionNo]  DEFAULT ((1)) FOR [VersionNo]
GO
ALTER TABLE [dbo].[ContentItem] ADD  CONSTRAINT [DF_ContentItem_Priority]  DEFAULT ((100)) FOR [Priority]
GO
ALTER TABLE [dbo].[ContentItem] ADD  CONSTRAINT [DF_ContentItem_IsFallback]  DEFAULT ((0)) FOR [IsFallback]
GO
ALTER TABLE [dbo].[ContentItem] ADD  CONSTRAINT [DF_ContentItem_CreatedAt]  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[ContentItem] ADD  CONSTRAINT [DF_ContentItem_UpdatedAt]  DEFAULT (sysdatetime()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[InteractionLog] ADD  CONSTRAINT [DF_InteractionLog_OccurredAt]  DEFAULT (sysdatetime()) FOR [OccurredAt]
GO
ALTER TABLE [dbo].[Language] ADD  CONSTRAINT [DF_Language_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[MuseumZone] ADD  CONSTRAINT [DF_MuseumZone_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Object] ADD  CONSTRAINT [DF_Object_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Object] ADD  CONSTRAINT [DF_Object_CreatedAt]  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Object] ADD  CONSTRAINT [DF_Object_UpdatedAt]  DEFAULT (sysdatetime()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[ObjectIdentifier] ADD  CONSTRAINT [DF_ObjectIdentifier_IsPrimary]  DEFAULT ((0)) FOR [IsPrimary]
GO
ALTER TABLE [dbo].[ObjectIdentifier] ADD  CONSTRAINT [DF_ObjectIdentifier_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[ObjectIdentifier] ADD  CONSTRAINT [DF_ObjectIdentifier_CreatedAt]  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[ObjectTag] ADD  CONSTRAINT [DF_ObjectTag_AddedAt]  DEFAULT (sysdatetime()) FOR [AddedAt]
GO
ALTER TABLE [dbo].[SearchRequest] ADD  CONSTRAINT [DF_SearchRequest_RequestedAt]  DEFAULT (sysdatetime()) FOR [RequestedAt]
GO
ALTER TABLE [dbo].[Session] ADD  DEFAULT (newid()) FOR [SessionId]
GO
ALTER TABLE [dbo].[Session] ADD  CONSTRAINT [DF_Session_StartedAt]  DEFAULT (sysdatetime()) FOR [StartedAt]
GO
ALTER TABLE [dbo].[Tag] ADD  CONSTRAINT [DF_Tag_IsSearchable]  DEFAULT ((1)) FOR [IsSearchable]
GO
ALTER TABLE [dbo].[Tag] ADD  CONSTRAINT [DF_Tag_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[UserRole] ADD  CONSTRAINT [DF_UserRole_AssignedAt]  DEFAULT (sysdatetime()) FOR [AssignedAt]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_CreatedAt]  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_UpdatedAt]  DEFAULT (sysdatetime()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[ContentAsset]  WITH CHECK ADD  CONSTRAINT [FK_ContentAsset_ContentItem] FOREIGN KEY([ContentId])
REFERENCES [dbo].[ContentItem] ([ContentId])
GO
ALTER TABLE [dbo].[ContentAsset] CHECK CONSTRAINT [FK_ContentAsset_ContentItem]
GO
ALTER TABLE [dbo].[ContentItem]  WITH CHECK ADD  CONSTRAINT [FK_ContentItem_Language] FOREIGN KEY([LanguageId])
REFERENCES [dbo].[Language] ([LanguageId])
GO
ALTER TABLE [dbo].[ContentItem] CHECK CONSTRAINT [FK_ContentItem_Language]
GO
ALTER TABLE [dbo].[ContentItem]  WITH CHECK ADD  CONSTRAINT [FK_ContentItem_Object] FOREIGN KEY([ObjectId])
REFERENCES [dbo].[Object] ([ObjectId])
GO
ALTER TABLE [dbo].[ContentItem] CHECK CONSTRAINT [FK_ContentItem_Object]
GO
ALTER TABLE [dbo].[ContentItemAgeGroup]  WITH CHECK ADD  CONSTRAINT [FK_CIAG_AgeGroup] FOREIGN KEY([AgeGroupId])
REFERENCES [dbo].[AgeGroup] ([AgeGroupId])
GO
ALTER TABLE [dbo].[ContentItemAgeGroup] CHECK CONSTRAINT [FK_CIAG_AgeGroup]
GO
ALTER TABLE [dbo].[ContentItemAgeGroup]  WITH CHECK ADD  CONSTRAINT [FK_CIAG_ContentItem] FOREIGN KEY([ContentId])
REFERENCES [dbo].[ContentItem] ([ContentId])
GO
ALTER TABLE [dbo].[ContentItemAgeGroup] CHECK CONSTRAINT [FK_CIAG_ContentItem]
GO
ALTER TABLE [dbo].[ContentItemEducationLevel]  WITH CHECK ADD  CONSTRAINT [FK_CIEL_ContentItem] FOREIGN KEY([ContentId])
REFERENCES [dbo].[ContentItem] ([ContentId])
GO
ALTER TABLE [dbo].[ContentItemEducationLevel] CHECK CONSTRAINT [FK_CIEL_ContentItem]
GO
ALTER TABLE [dbo].[ContentItemEducationLevel]  WITH CHECK ADD  CONSTRAINT [FK_CIEL_EducationLevel] FOREIGN KEY([LevelId])
REFERENCES [dbo].[EducationLevel] ([LevelId])
GO
ALTER TABLE [dbo].[ContentItemEducationLevel] CHECK CONSTRAINT [FK_CIEL_EducationLevel]
GO
ALTER TABLE [dbo].[ContentText]  WITH CHECK ADD  CONSTRAINT [FK_ContentText_ContentItem] FOREIGN KEY([ContentId])
REFERENCES [dbo].[ContentItem] ([ContentId])
GO
ALTER TABLE [dbo].[ContentText] CHECK CONSTRAINT [FK_ContentText_ContentItem]
GO
ALTER TABLE [dbo].[InteractionLog]  WITH CHECK ADD  CONSTRAINT [FK_InteractionLog_Identifier] FOREIGN KEY([IdentifierId])
REFERENCES [dbo].[ObjectIdentifier] ([IdentifierId])
GO
ALTER TABLE [dbo].[InteractionLog] CHECK CONSTRAINT [FK_InteractionLog_Identifier]
GO
ALTER TABLE [dbo].[InteractionLog]  WITH CHECK ADD  CONSTRAINT [FK_InteractionLog_Object] FOREIGN KEY([ObjectId])
REFERENCES [dbo].[Object] ([ObjectId])
GO
ALTER TABLE [dbo].[InteractionLog] CHECK CONSTRAINT [FK_InteractionLog_Object]
GO
ALTER TABLE [dbo].[InteractionLog]  WITH CHECK ADD  CONSTRAINT [FK_InteractionLog_Session] FOREIGN KEY([SessionId])
REFERENCES [dbo].[Session] ([SessionId])
GO
ALTER TABLE [dbo].[InteractionLog] CHECK CONSTRAINT [FK_InteractionLog_Session]
GO
ALTER TABLE [dbo].[InteractionLog]  WITH CHECK ADD  CONSTRAINT [FK_InteractionLog_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[InteractionLog] CHECK CONSTRAINT [FK_InteractionLog_User]
GO
ALTER TABLE [dbo].[InteractionLog]  WITH CHECK ADD  CONSTRAINT [FK_InteractionLog_Zone] FOREIGN KEY([ZoneId])
REFERENCES [dbo].[MuseumZone] ([ZoneId])
GO
ALTER TABLE [dbo].[InteractionLog] CHECK CONSTRAINT [FK_InteractionLog_Zone]
GO
ALTER TABLE [dbo].[Object]  WITH CHECK ADD  CONSTRAINT [FK_Object_Category] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Category] ([CategoryId])
GO
ALTER TABLE [dbo].[Object] CHECK CONSTRAINT [FK_Object_Category]
GO
ALTER TABLE [dbo].[Object]  WITH CHECK ADD  CONSTRAINT [FK_Object_Era] FOREIGN KEY([EraId])
REFERENCES [dbo].[Era] ([EraId])
GO
ALTER TABLE [dbo].[Object] CHECK CONSTRAINT [FK_Object_Era]
GO
ALTER TABLE [dbo].[ObjectIdentifier]  WITH CHECK ADD  CONSTRAINT [FK_ObjectIdentifier_Object] FOREIGN KEY([ObjectId])
REFERENCES [dbo].[Object] ([ObjectId])
GO
ALTER TABLE [dbo].[ObjectIdentifier] CHECK CONSTRAINT [FK_ObjectIdentifier_Object]
GO
ALTER TABLE [dbo].[ObjectLocation]  WITH CHECK ADD  CONSTRAINT [FK_ObjectLocation_Object] FOREIGN KEY([ObjectId])
REFERENCES [dbo].[Object] ([ObjectId])
GO
ALTER TABLE [dbo].[ObjectLocation] CHECK CONSTRAINT [FK_ObjectLocation_Object]
GO
ALTER TABLE [dbo].[ObjectLocation]  WITH CHECK ADD  CONSTRAINT [FK_ObjectLocation_Zone] FOREIGN KEY([ZoneId])
REFERENCES [dbo].[MuseumZone] ([ZoneId])
GO
ALTER TABLE [dbo].[ObjectLocation] CHECK CONSTRAINT [FK_ObjectLocation_Zone]
GO
ALTER TABLE [dbo].[ObjectTag]  WITH CHECK ADD  CONSTRAINT [FK_ObjectTag_Object] FOREIGN KEY([ObjectId])
REFERENCES [dbo].[Object] ([ObjectId])
GO
ALTER TABLE [dbo].[ObjectTag] CHECK CONSTRAINT [FK_ObjectTag_Object]
GO
ALTER TABLE [dbo].[ObjectTag]  WITH CHECK ADD  CONSTRAINT [FK_ObjectTag_Tag] FOREIGN KEY([TagId])
REFERENCES [dbo].[Tag] ([TagId])
GO
ALTER TABLE [dbo].[ObjectTag] CHECK CONSTRAINT [FK_ObjectTag_Tag]
GO
ALTER TABLE [dbo].[SearchRequest]  WITH CHECK ADD  CONSTRAINT [FK_SearchRequest_Language] FOREIGN KEY([DetectedLanguageId])
REFERENCES [dbo].[Language] ([LanguageId])
GO
ALTER TABLE [dbo].[SearchRequest] CHECK CONSTRAINT [FK_SearchRequest_Language]
GO
ALTER TABLE [dbo].[SearchRequest]  WITH CHECK ADD  CONSTRAINT [FK_SearchRequest_Session] FOREIGN KEY([SessionId])
REFERENCES [dbo].[Session] ([SessionId])
GO
ALTER TABLE [dbo].[SearchRequest] CHECK CONSTRAINT [FK_SearchRequest_Session]
GO
ALTER TABLE [dbo].[SearchRequest]  WITH CHECK ADD  CONSTRAINT [FK_SearchRequest_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[SearchRequest] CHECK CONSTRAINT [FK_SearchRequest_User]
GO
ALTER TABLE [dbo].[SearchResult]  WITH CHECK ADD  CONSTRAINT [FK_SearchResult_Content] FOREIGN KEY([ContentId])
REFERENCES [dbo].[ContentItem] ([ContentId])
GO
ALTER TABLE [dbo].[SearchResult] CHECK CONSTRAINT [FK_SearchResult_Content]
GO
ALTER TABLE [dbo].[SearchResult]  WITH CHECK ADD  CONSTRAINT [FK_SearchResult_Object] FOREIGN KEY([ObjectId])
REFERENCES [dbo].[Object] ([ObjectId])
GO
ALTER TABLE [dbo].[SearchResult] CHECK CONSTRAINT [FK_SearchResult_Object]
GO
ALTER TABLE [dbo].[SearchResult]  WITH CHECK ADD  CONSTRAINT [FK_SearchResult_SearchRequest] FOREIGN KEY([SearchRequestId])
REFERENCES [dbo].[SearchRequest] ([SearchRequestId])
GO
ALTER TABLE [dbo].[SearchResult] CHECK CONSTRAINT [FK_SearchResult_SearchRequest]
GO
ALTER TABLE [dbo].[SearchResult]  WITH CHECK ADD  CONSTRAINT [FK_SearchResult_Tag] FOREIGN KEY([TagId])
REFERENCES [dbo].[Tag] ([TagId])
GO
ALTER TABLE [dbo].[SearchResult] CHECK CONSTRAINT [FK_SearchResult_Tag]
GO
ALTER TABLE [dbo].[Session]  WITH CHECK ADD  CONSTRAINT [FK_Session_AgeGroup] FOREIGN KEY([AgeGroupId])
REFERENCES [dbo].[AgeGroup] ([AgeGroupId])
GO
ALTER TABLE [dbo].[Session] CHECK CONSTRAINT [FK_Session_AgeGroup]
GO
ALTER TABLE [dbo].[Session]  WITH CHECK ADD  CONSTRAINT [FK_Session_EducationLevel] FOREIGN KEY([LevelId])
REFERENCES [dbo].[EducationLevel] ([LevelId])
GO
ALTER TABLE [dbo].[Session] CHECK CONSTRAINT [FK_Session_EducationLevel]
GO
ALTER TABLE [dbo].[Session]  WITH CHECK ADD  CONSTRAINT [FK_Session_Language] FOREIGN KEY([LanguageId])
REFERENCES [dbo].[Language] ([LanguageId])
GO
ALTER TABLE [dbo].[Session] CHECK CONSTRAINT [FK_Session_Language]
GO
ALTER TABLE [dbo].[UserProfile]  WITH CHECK ADD  CONSTRAINT [FK_UserProfile_AgeGroup] FOREIGN KEY([AgeGroupId])
REFERENCES [dbo].[AgeGroup] ([AgeGroupId])
GO
ALTER TABLE [dbo].[UserProfile] CHECK CONSTRAINT [FK_UserProfile_AgeGroup]
GO
ALTER TABLE [dbo].[UserProfile]  WITH CHECK ADD  CONSTRAINT [FK_UserProfile_EducationLevel] FOREIGN KEY([LevelId])
REFERENCES [dbo].[EducationLevel] ([LevelId])
GO
ALTER TABLE [dbo].[UserProfile] CHECK CONSTRAINT [FK_UserProfile_EducationLevel]
GO
ALTER TABLE [dbo].[UserProfile]  WITH CHECK ADD  CONSTRAINT [FK_UserProfile_Language] FOREIGN KEY([PreferredLanguageId])
REFERENCES [dbo].[Language] ([LanguageId])
GO
ALTER TABLE [dbo].[UserProfile] CHECK CONSTRAINT [FK_UserProfile_Language]
GO
ALTER TABLE [dbo].[UserProfile]  WITH CHECK ADD  CONSTRAINT [FK_UserProfile_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[UserProfile] CHECK CONSTRAINT [FK_UserProfile_Users]
GO
ALTER TABLE [dbo].[UserRole]  WITH CHECK ADD  CONSTRAINT [FK_UserRole_Roles] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([RoleId])
GO
ALTER TABLE [dbo].[UserRole] CHECK CONSTRAINT [FK_UserRole_Roles]
GO
ALTER TABLE [dbo].[UserRole]  WITH CHECK ADD  CONSTRAINT [FK_UserRole_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[UserRole] CHECK CONSTRAINT [FK_UserRole_Users]
GO
ALTER TABLE [dbo].[VoiceInput]  WITH CHECK ADD  CONSTRAINT [FK_VoiceInput_SearchRequest] FOREIGN KEY([SearchRequestId])
REFERENCES [dbo].[SearchRequest] ([SearchRequestId])
GO
ALTER TABLE [dbo].[VoiceInput] CHECK CONSTRAINT [FK_VoiceInput_SearchRequest]
GO
ALTER TABLE [dbo].[ContentAsset]  WITH CHECK ADD  CONSTRAINT [CK_ContentAsset_Type] CHECK  (([AssetType]=N'PDF' OR [AssetType]=N'Audio' OR [AssetType]=N'Video' OR [AssetType]=N'Image'))
GO
ALTER TABLE [dbo].[ContentAsset] CHECK CONSTRAINT [CK_ContentAsset_Type]
GO
ALTER TABLE [dbo].[ContentItem]  WITH CHECK ADD  CONSTRAINT [CK_ContentItem_Status] CHECK  (([Status]=N'Archived' OR [Status]=N'Published' OR [Status]=N'Draft'))
GO
ALTER TABLE [dbo].[ContentItem] CHECK CONSTRAINT [CK_ContentItem_Status]
GO
ALTER TABLE [dbo].[ContentItem]  WITH CHECK ADD  CONSTRAINT [CK_ContentItem_Type] CHECK  (([ContentType]=N'Mixed' OR [ContentType]=N'Audio' OR [ContentType]=N'Video' OR [ContentType]=N'Image' OR [ContentType]=N'Text'))
GO
ALTER TABLE [dbo].[ContentItem] CHECK CONSTRAINT [CK_ContentItem_Type]
GO
ALTER TABLE [dbo].[InteractionLog]  WITH CHECK ADD  CONSTRAINT [CK_InteractionLog_Type] CHECK  (([InteractionType]=N'Save' OR [InteractionType]=N'Like' OR [InteractionType]=N'AudioPlay' OR [InteractionType]=N'PlayVideo' OR [InteractionType]=N'View' OR [InteractionType]=N'Scan'))
GO
ALTER TABLE [dbo].[InteractionLog] CHECK CONSTRAINT [CK_InteractionLog_Type]
GO
ALTER TABLE [dbo].[Object]  WITH CHECK ADD  CONSTRAINT [CK_Object_Status] CHECK  (([Status]=N'Archived' OR [Status]=N'Published' OR [Status]=N'Draft'))
GO
ALTER TABLE [dbo].[Object] CHECK CONSTRAINT [CK_Object_Status]
GO
ALTER TABLE [dbo].[ObjectIdentifier]  WITH CHECK ADD  CONSTRAINT [CK_ObjectIdentifier_Type] CHECK  (([IdentifierType]=N'ManualCode' OR [IdentifierType]=N'NFC' OR [IdentifierType]=N'QR'))
GO
ALTER TABLE [dbo].[ObjectIdentifier] CHECK CONSTRAINT [CK_ObjectIdentifier_Type]
GO
ALTER TABLE [dbo].[SearchRequest]  WITH CHECK ADD  CONSTRAINT [CK_SearchRequest_Type] CHECK  (([SearchType]=N'Voice' OR [SearchType]=N'Text'))
GO
ALTER TABLE [dbo].[SearchRequest] CHECK CONSTRAINT [CK_SearchRequest_Type]
GO
ALTER TABLE [dbo].[SearchResult]  WITH CHECK ADD  CONSTRAINT [CK_SearchResult_OneTarget] CHECK  ((((case when [ObjectId] IS NULL then (0) else (1) end+case when [ContentId] IS NULL then (0) else (1) end)+case when [TagId] IS NULL then (0) else (1) end)=(1)))
GO
ALTER TABLE [dbo].[SearchResult] CHECK CONSTRAINT [CK_SearchResult_OneTarget]
GO
ALTER TABLE [dbo].[SearchResult]  WITH CHECK ADD  CONSTRAINT [CK_SearchResult_Type] CHECK  (([ResultType]=N'Content' OR [ResultType]=N'Tag' OR [ResultType]=N'Object'))
GO
ALTER TABLE [dbo].[SearchResult] CHECK CONSTRAINT [CK_SearchResult_Type]
GO
